{% extends 'layout.html.twig' %}

{% block content %}

    <div>
    <h1>Mon compte</h1>
        <div>
            <h2>Mes informations</h2>
                <p>Nom : {{ session.user.lastname }} {{ session.user.firstname }}</p>
                <p>Email : {{ session.user.email }}</p>
                <p>Phone number : 0{{ session.user.phone }}</p>
                <a href="/customer/edit/{{ session.user.id }}"><button>Modifier mes informations</button></a>
                
        </div>
        <div>
            <h2>Mes Bouquets sauvegardés</h2>
            
            <ul>
                {% for bouquet in bouquets %}
                    <li><p><button class="uk-button uk-button-default" type="button">{{bouquet.name}}</button>
                    <a href="/bouquetCustomer/edit/{{ bouquet.id }}"><button>Modifier</button></a>
                    </li>
                        <div uk-dropdown="mode: click, pos: top-right">
                            {% for fleurs in bouq %}
                                {% if fleurs.0.bouquetCustomer_id is same as (bouquet.id) %}
                                    {% for fleur in fleurs %}
                    <li>{{fleur.nombre}}x {{fleur.name}}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Mes Commandes</h2>
            
        </div>
    </div>
    
    <form action="/customer/delete/{{session.user.id}}" method="POST">
        <button>Supprimer mon compte</button>
    </form>
        </div>
{% endblock %}
