{% extends 'layout.html.twig' %}

{% block title %}Compose ton bouquet - {{ parent() }}{% endblock %}

{% block content %}
    {{ include('components/_guideCompo.html.twig') }}

        <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match uk-margin-xlarge-right uk-margin-xlarge-left uk-margin-large-top uk-margin-medium-bottom uk-padding-remove uk-flex-wrap" uk-grid>
        {% for flower in stock %}
            <div>
                <div class="uk-border-rounded uk-card-hover uk-card uk-card-default ">
                    <div class="uk-card-media-top uk-padding-remove-bottom ">
                        <a href="#"> <img src="/assets/images/{{ flower.image }}" alt="{{ flower.name }}" class="uk-height-medium uk-align-center">
                    </div>
                    <div class="uk-card-body uk-padding-remove">
                        <h3 class="uk-card-title uk-text-center">{{ flower.name }}</h3>
                        </a>
                    </div>
                    <div>
                        <p class = "uk-text-center">{{ flower.price }} €</p>
                    </div>
                    <div>

                        <a class="uk-border-rounded uk-button uk-button-default uk-align-center" href="/Panier/add/{{ flower.id }}">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

{% endblock %}