{% extends 'layout.html.twig' %}


{% block title %}Panier - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="uk-text-center">Votre panier:</h1>
    {% set total = 0.00 %}
    <div class="uk-card uk-width-1-2@m uk-align-center">
        {% for flowers in session.panier %}
            {% for flower in flowers %}
                {% if flower is not empty %}
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader="fill: -">{{ flower.quantity }} x {{ flower.name }}</div>
                        <div>{{ flower.price }} €
                        <form action="/Panier/updateQuantity/{{ flower.id }}" method="post" class="uk-form-width-xsmall">
                            <input type="submit" value="+" name="+">
                            <input type="submit" value="-" name="-">
                        </form>
                        </div>
                    </div>
                {% endif %}
                {% set total = total + flower.price %}
            {% endfor %}
        {% endfor %}
        <hr/>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader="fill: -">Total</div>
            <div>{{ total }} €</div>
        </div>

        <form action="/command/commander" class="uk-form-width-small uk-align-right uk-margin-top">
            <input class="uk-input uk-border-rounded" type="submit" value="commander">
        </form>
    </div>

    {# TODO : bouton supprimer pour enlever une entité  #}
    {# TODO : gestion quantité  #}
    {# TODO : bouton commander qui renvoi a la page connexion si pas connecté #}


    {# TODO : connexion -> ajout dans commande -> message commande enregistrée #}
{% endblock %}