{% extends 'layout.html.twig' %}

{% block content %}

    <h2>Informations client</h2>
    <li>Nom : {{ customer.lastname }}</li>
    <li>Prénom : {{ customer.firstname }}</li>
    <li>Email : {{ customer.email }}</li>
    <li>Téléphone : 0{{ customer.phone }}</li>
    <li>Mot de passe : {{ customer.password }}</li>
    <a href="/customer/edit/{{ customer.id }}"><button>Edit</button></a>
    <form action="/customer/delete/{{customer.id}}" method="POST">
        <button>Delete</button>
    </form>

    <h2>Ses commandes</h2>
        <table>
    <thead>
        <tr>
            <th>id </th>
            <th>Date de commande </th>
            <th>Prix </th>

        </tr>
    </thead>
    <tbody>
        {% for command in customercommand %}
        <tr>
            <td>{{ command.id }}</td>
            <td>{{ command.dateOrder }}</td>
            <td>{{ command.totalAMount }}</td>

            <td><a href="/Command/edit/{{ command.id }}"><button>Modifier</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="/Home/compteAdmin"><button>Back</button></a>
{% endblock %}
