{% extends 'layout.html.twig' %}

{% block content %}
    Hello this is the commande page <hr/>

    {% for commande in commandes %}
        {{ commande.totalAmount }} || {{ commande.id }}
        <form action="/Commande/suppr/{{ commande.id }}" method="POST">
            <button>Delete</button>
        </form>
        <form action="/Commande/showById/{{ commande.id }}" method="POST">
            <button>Show</button>
        </form>

    {% endfor %}
    {% if details is defined %}
        {% if details is empty %}
            Nothing to display
            {% else %}
                Commande id : {{ details.command_id }} </br>
                Customer id : {{ details.customer_id }} </br>
        {% endif %}
    {% endif %}


    <h1>add command</h1>

    <form method="post" action="/Commande/add">
        <label for="totalAMount"> Total amount<input type="number" name="totalAmount"></label><br/>
        <label for="customer_id"> customer <input type="number" name="customer_id"></label><br/>
        <label for="stock_id"> stock<input type="number" name="stock_id"></label><br/>
        <label for="datapick"> date pick<input type="date" placeholder="2011-01-13" name="datapick"></label><br/>
        <input type="hidden" name="command_id" >
        <input type="submit">
    </form>

{% endblock %}