{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Modifier le bouquet : {{ bouquetVitrine.name }}</h1>
    <ul>
        {% for fleur in bouquet %}
            <li>{{ fleur.name }} {{ fleur.number }} {{ fleur.image }}</li>
            <form method="post" action="/bouquetVitrine/deleteFleurBouquet/{{ fleur.id }}" >
                <input type="hidden" value="{{ fleur.bouquetVitrine_id }}" name="bouquet">
                <input type="submit" value="Désencastrer">
            </form>
        {% endfor %}
    </ul>
    {% include 'BouquetVitrine/_form.html.twig' %}
    <a href="/bouquetVitrine/show/{{ bouquetVitrine.id }}">Back</a>
{% endblock %}
