{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Modifier le bouquet : {{ bouquetCustomer.name }}</h1>
    <h3>Compostion actuelle du bouquet</h3>
        <form action="/bouquetCustomer/delete/{{bouquetCustomer.id}}" method="POST">
            <button>Supprimer le bouquet</button>
        </form></p>

<ul>
{% for flower in bouquet %}
<li>
    {{ flower.nombre }} x {{flower.name}} 
    <form action="/bouquetCustomer/removeOneFlower/{{flower.stock_id}}" method="POST">
    <input type='hidden' name='bouquetId' value='{{flower.bouquetCustomer_id}}'><input type='submit' value='delete'>
    
    </form>

</li>
{% endfor %}
</ul>

    {% include 'BouquetCustomer/_form.html.twig' %}
    {% if session.admin == true %}
    <a href="/BouquetCustomer/index"><button>Back</button></a>
    {% else %}
    <a href="/Home/compte"><button>Back</button></a>
    {% endif %}

{% endblock %}